/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/***** images*****/

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/***** Categorie ****/
#categories {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}

.box {
	display: flex;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 4px 14px 4px 14px;
	margin-right: 10px;
	font-size: 16px;
	font-weight: 700;
	color: #1D6154;
	background-color: white;
}

.box:hover {
	background-color: #1D6154;
	color: white;
	cursor: default;
}

/*** login***/
.login{
	height: max-content;
	width: max-content;
	margin: auto;
}
.log {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#login-form {
	display: flex;
	flex-direction: column;
	width: 379px;
}
.input {
	width: 379px;
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.label {
	display: flex;
	align-self: flex-start;
	margin-bottom: 5px;
	margin-top: 5px;
}

a {
	text-decoration: none;
	color: black
}
.message {
	margin-top: 10px;
}

/**** Barre edite ***/

#barreEdite {
	display: flex;
	justify-content: center;
	background-color: black;
	height: 59px;
	width: 100%;
	font-family: 'Syne';
}

#bouttonEdit {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	border: none;
	font-family: 'Syne';
}
#bouttonEdit a {
	color: white;
}

#bouttonPubli {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
	margin-top: 10px;
	margin-bottom: 9px;
	margin-left: 10px;
	font-family: 'Syne';
	border: 0px solid black;
}

.fa-regular {
	padding-left: 10px;
	padding-right: 10px;
}

/***** modif Image intro ***/
.modif{
	margin: auto;
	padding-top: 15px;
	width: 83.5%;
}
.modifImage, .modifImageProjet{
	background-color: white;
	border: white;
	padding-left: 0;
	font-family: 'Syne';
	cursor: pointer;
}
.modifProjet {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.modifProjet #projet {
	margin-bottom: 0;
	padding-right: 30px;
}

/****** Modal page supprimer photo ****/


#myModal{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	

}

#modalEdition {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 600px;
	height: fit-content;
	background-color: white;
	border-radius: 10px;
	padding: 30px;
}
.modal-header {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;	
}
.modal-header h2 {
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-header i {
	cursor: pointer;
}
.photoModal {
	height: 132.5px;
	width: 18.30%;
	text-align: left;
	position: relative;
	
	
}
.photoModal img{
	width: 100%;
	height: 90%;
	object-fit: cover;
}
.modal-body {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	height: fit-content;
	border-bottom: 1px solid lightgrey;
	gap: 10px;
	text-align: center;
	padding-bottom: 50px;
	
}

.logo {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 6px;
	right: 20px;
	width: 19.5px;
	height: 19.5px;
	color: white;
	gap: 5px;
}

.fa-trash-can:hover , .fa-up-down-left-right:hover {
	cursor: pointer;
}

.photoModal .fa-trash-can,.photoModal .fa-up-down-left-right{
	background-color: black;
	border: 1px solid black;
	border-radius: 5px;
	padding: 4px;
	margin:0;
	
}
.photoModal .fa-up-down-left-right{
	visibility: hidden;
}
.photoModal:hover .fa-up-down-left-right{
	visibility: visible;
}
.photoModal figcaption {
	height: 10%;
}

.modal-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4px 15px;
}
.addPhoto {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 15px;
	border-radius: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #1D6154;
	color: white;
	font-family: 'Syne';
	width: 230px;
}

.supGallery {
	display: flex;
	justify-content: center;
	background: none;
	border: none;
	font-size: 14px;
	font-family: 'Syne';
	color: #D65353;
}

/***** Modal Ajout photo *****/

.modal-img{
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 600px;
	height: 650px;
	background-color: white;
	border-radius: 10px;
	padding: 30px;
}

.icon-haut {
	width: 100%;
	height: 10%;
	box-sizing: border-box;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	font-size: 22px;
}
.icon-haut .fa-solid {
	cursor: pointer;

}
.modal-img h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'Work Sans';
	color: black;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 20px;
}

#form-img {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 485px;
	justify-content: space-between;
}

.img-aperçu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 180px;
	background-color: #E8F1F6;
	position: relative;
}
.fa-image {
	font-size: 80px;
	color: #B9C5CC;
	
}

.image {
	max-width: 432px;
	max-height: 180px;
	pointer-events: none;
}

#img-input {
	display: none;
}

#img-label {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	width: 180px;
	height: 36px;
	background-color: #D3D3D3;
	color: #2F4F4F;
}

.info-img {
	color: #444;
	font-size: 10px;
}

.img-case {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	height: 60px;
	position: relative;
}

.img-case div {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	position: relative;
	border-radius: 10px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.img-case div input {
	width: 100%;
	height: 100%;
	margin: 0%;
	padding: 0%;
	border: none;
	font-size: 14px;
	padding: 0px 6px;
	color: #444444;
	font-family: 'Work Sans';
}

#Cateliste {
	border: none;
	border-radius: 0%;
	appearance: none;
	padding: 0%;
	width: 100%;
	height: 100%;
	color:#444444;
	background-color: white;
	font-size: 14px;
	padding: 6px;
	font-family: 'Work Sans';;
}

.img-case div i {
	height: 100%;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 8px;
	pointer-events: none;
}
.img-val {
	display: flex;
	justify-content: center;
}
#img-validation {
	width: 275px;
	height: 40px;
	background-color: #1D6154;
	border-radius: 30px;
	border-style: none;
	color: white;
	font-size: 16px;
	font-family: 'Syne';
	cursor: pointer;
}

.modalAjout {
	display: flex;
	position: absolute;
	z-index: 2;
	
}
#modalEdition {
	display: flex;
	position: absolute;
	z-index: 1;
	width: 650px;
}